<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="register.js"></script>


    <title>Document</title>
  
</head>
<body>

    <h1> Register</h1>
    <div>
        <label for="firstname">First Name</label>
        <input type="text" id ="firstname" name ="firstname" required>
        </div>
<div>
<label for="lastname">Last Name</label>
<input type="text" id ="lastname" name ="lastname" required>
</div>
<div>
    <label for="email">Email</label>
    <input type="text" id ="email" name ="email" >
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id ="password" name ="password" required>       
        </div>
        <div>
            <button type="submit" onclick="registere()">Register your account</button>
        </div>
        <!-- <a href="/login">Login</a> -->






</form>


    
</body>
<script type="module" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script type="module" src="cookie.js"></script>
</html>

