*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #fff;
}

.slider{
    height: 80vh;
    width: 50%;
    position: relative;
    top: 15%;
    left: 5%;
    border-radius: 30px;
    background-color: white;
}

.slider img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider img.active{
    opacity: 1;
}

.slider h2{
    object-fit: cover;
    position: absolute;
    top: 80%;
    left:50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 70px;
    font-size: 1.7rem;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider h2.active2{
    opacity: 1;
    z-index: 2;
}
/* stylise les boutons*/
.next, .previous{ 
    color: black;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.next{
    right: 1rem;
}

.previous{
    left: 1rem;
}

.hero{
    display: flex;
}

.citation{
    color: white;
    width: 50%;
    height: 80vh;
    position: relative;
    top: 30%;
    left: 5%;
    flex-direction: column;
    font-size: 4rem;
    font-style: italic;
}

@media screen and (max-width:1600px) and (min-width:1100px){
    .slider{
        left: 5%;
        width: 70%;
    }
}
@media screen and (max-width:1100px) and (min-width:900px){
    .citation{
        opacity: 0;
        z-index: -1;
    }
    .slider{
        left: 23%;
        width: 70%;
        height: 600px;
    }
}
@media screen and (max-width:900px) and (min-width: 750px){
    .citation{
        opacity: 0;
        z-index: -1;
    }

    .caption{
        border-radius: 0 0 20px 20px;
        height: 39%;
    }

    .slider{
        left: 23%;
        width: 60%;
        height: 500px;
        top: 25%;
    }
}
@media screen and (max-width:750px) {
    .citation{
        opacity: 0;
        z-index: -1;
    }

    .caption{
        border-radius: 0 0 20px 20px;
        height: 39%;
    }

    .slider{
        left: 23%;
        width: 60%;
        height: 450px;
        top: 25%;
    }
}